body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #242229;
    color: #ffffff;
}

.emphasized { font-style: italic; }


#header, #header-img, .main-text{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%
}

#header{
    text-align: left;
    display: flex;
    border: 10px white;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#contact-button{
    background-color: #177E89;
    border: 1px black;
    padding: 10px;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#header-img{
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    max-width: 250px;
    border-radius: 100%;
}

#footer{
    background-color: #177E89;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: black;
    margin: 0px;
}

#main-text{
    height: 100%
}